{% extends "base/htmlbase.html" %}
{% block contenido %}

        <div class="container">

       



                <div class="col s12 m8 offset-m2 l6 offset-l3">
                        <div class="card-panel grey lighten-5 z-depth-1">
                          <div class="row valign-wrapper">
                            <div class="col s2">
                              <img src="https://www.adjust.com/new-assets/images/site-images/interface/user.svg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s10">
                              <span class="black-text center-align">
                                   {{ request.user }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>






            <form action="/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <!-- datepiker -->
                    <div class="input-field col s12">
                    <input id="datepiker"  name="date" type="text" class="datepicker validate" required="" aria-required="true">
                    <label for="datepiker"  data-error="wrong" data-success="right">Datepiker</label>
                    </div>
                    <!-- timepiker -->
                    <div class="row col s12">
                        <div class="input-field col s6">
                        <input id="start" name="hora1" type="text" class="timepicker validate">
                        <label for="start">Start</label>
                        </div>
                        <div class="input-field col s6">
                        <input id="finish" name="hora2" type="text" class="timepicker">
                        <label for="finish">Finish</label>
                        </div>
                    </div>
                    <!-- textarea -->
                    <div class="input-field col s12">
                        <textarea id="textarea1" name="context" class="materialize-textarea" data-length="120"></textarea>
                        <label for="textarea1">Context</label>
                    </div>
                    <!-- textarea -->
                    <div class="input-field col s12">
                        <textarea id="textarea2" name="work_order" class="materialize-textarea" data-length="120"></textarea>
                        <label for="textarea2">Context2</label>
                    </div>
                    <!-- file -->
                    <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="img">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                    </button>
                    <input type="hidden" name="userid" value="{{ request.user.id }}">
            </form>





        </div>


    {% block customscript %}
        <script  type="text/javascript">
            $(document).ready(function() {
                $('input#input_text, textarea#textarea1').characterCounter();
                $('.timepicker').pickatime({
                    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                    twelvehour: false, // Use AM/PM or 24-hour format
                    donetext: 'OK', // text for done-button
                    cleartext: 'Clear', // text for clear-button
                    canceltext: 'Cancel', // Text for cancel-button
                    autoclose: false, // automatic close timepicker
                    ampmclickable: true, // make AM PM clickable
                    aftershow: function(){} //Function for after opening timepicker
                });
                $('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year,
                    today: 'Today',
                    clear: 'Clear',
                    close: 'Ok',
                    closeOnSelect: false // Close upon selecting a date,
                });
            });
        </script>
    {% endblock %}
{% endblock %}
