<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        nav .brand-logo {
            padding-left: 12px;
        }
        {% block estilo %}
        {% endblock %}
    </style>
    {% block scripstop %}
    {% endblock %}    
</head>
<body>
    <nav>
        <div class="nav-wrapper {% if request.user.is_superuser %}teal lighten-1{% else %}black white-text{% endif %}">
            <a href="/" class="brand-logo">Promast Inc</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
            {% if request.user.is_superuser %}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/payment">Payment</a></li>
            {% endif %}
            {% if request.user.type == "admin" %}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/payment">Payment</a></li>
            {% endif %}
            <li><a href="/WorkOrder">Work order</a></li>
            <li><a href="/">Welcome, {{ request.user }}</a></li>
            <li><a href="/logout/"><i class="material-icons right">exit_to_app</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
            {% if request.user.is_superuser %}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/payment">Payment</a></li>                
            {% endif %}
            {% if request.user.type == "admin" %}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/payment">Payment</a></li>
            {% endif %}
            <li><a href="/WorkOrder">Work order</a></li>
            <li><a href="/">{{ request.user }}</a></li>
            <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    </nav>
    {% block contenido %}{% endblock %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script  type="text/javascript">
        $(document).ready(function() {
             $(".button-collapse").sideNav(); // barra mobil del nabvar
        });
    </script>
    {% block customscript %}{% endblock %}
</body>
</html>